{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>Celeste Horgan</h2>

<img alt="Headshot of Celeste Horgan" src="/media/local/img/people/celeste.jpg" />

<p>
    Celeste is a Sr. OSS Developer Advocate at Snowflake. She began her
    career in open source at the Linux Foundation supporting the Kubernetes
    project, and has since moved onto supporting the Apache Spark and
    Postgres projects, in addition to Snowflake's open source efforts. She
    currently resides in London, United Kingdom.
</p>

{%endblock%}
