{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>Diversity Committee</h1>

<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo_250.png" />

<h2>José Antonio Morcillo Valenciano</h2>

<img alt="Headshot of José Antonio Morcillo Valenciano" src="/media/local/img/people/jose.jpg" />

<p>
    Jose is a database and infrastructure engineer based in Spain, working
    in the database world for longer than he can remember, currently focused
    on PostgreSQL, automation, and high-availability environments.
</p>
<p>
    Since 2025, he has been attending PG Days and completely fell in love
    with the community, the energy, and the shared passion for PostgreSQL. 🐘
</p>

{%endblock%}
