{%extends "nav_diversity.html"%}
{%block title%}Diversity{%endblock%}
{%block content%}
<h1>PostgreSQL Europe Diversity Committee</h1>
<img alt="PostgreSQL Europe Diversity Task Force logo"
     src="/media/local/img/diversity_logo.png" />
<h2>Goal</h2>
<p>Our Goal is to improve diversity and inclusion within the PostgreSQL Europe
  community.</p>
<p>The committee is responsible for the long-term management of diversity
  initiatives and activities within the PostgreSQL Europe community, such as
  providing financial and other support for underrepresented groups, and ensuring
  that the community offers a welcoming, inclusive environment that fosters
  productive engagement between individuals.</p>
<h2>Diversity Committee Members</h2>
<ul>
  <li><a href="/diversity/diversity_committee_karen">Karen Jex</a> <b>(Chair)</b></li>
  <li><a href="/diversity/diversity_committee_stacey">Stacey Haysler</a>
    <b>(Advisor)</b></li>
  <li><a href="/diversity/diversity_committee_stefanie">Stefanie Janine Stölting</a>
    <b>(Infrastructure Manager)</b></li>
  <li><a href="/diversity/diversity_committee_floor">Floor Drees</a>
    <b>(Scholarship Manager, Event Coordinator)</b></li>
  <li><a href="/diversity/diversity_committee_jimmy">Jimmy Angelakos</a>
    <b>(Budget Manager)</b></li>
  <li><a href="/diversity/diversity_committee_jose">José Antonio Morcillo Valenciano</a></li>
  <li><a href="/diversity/diversity_committee_celeste">Celeste Horgan</a></li>
  <li><a href="/diversity/diversity_committee_cornelia">Cornelia Biacsics</a></li>
</ul>
<p>The Committee can be contacted by email at <b>diversity(at)postgresql.eu</b>.</p>
<h2>Joining the Committee</h2>
<p>To become a committee member, you should:</p>
<ul>
  <li>Be a current PostgreSQL Europe member.</li>
  <li>Have working proficiency in spoken and written English (meetings are in English).</li>
  <li>Attend and contribute to bi-weekly meetings regularly.</li>
  <li>Participate actively in ongoing activities (see below), take ownership
    of assigned tasks, follow up on agreed actions, and ensure that committee
    decisions are implemented in a timely manner.</li>
  <li>Mention your involvement when speaking at community events to help raise
    awareness of the Committee and its work.</li>
  <li>Maintain confidentiality when handling sensitive issues or information
    discussed within the Diversity Committee.</li>
</ul>
<h2>Current Activities</h2>
<ol>
  <li><b>Outreach & Community Engagement</b>
    <ul>
      <li>Connect with underrepresented groups.</li>
      <li>Build partnerships with diversity-supporting organisations.</li>
      <li>Support mentorship and onboarding programs.</li>
    </ul>
  </li>
  <li><b>Event Support & Representation</b>
    <ul>
      <li>Promote diversity among speakers and participants.</li>
      <li>Advise organisers on inclusivity.</li>
      <li>Run scholarships/sponsorships for underrepresented contributors.</li>
    </ul>
  </li>
  <li><b>Internal Advocacy</b>
    <ul>
      <li>Represent diversity perspectives in community decisions.</li>
      <li>Propose updates to guidelines and codes of conduct.</li>
      <li>Integrate diversity into PostgreSQL Europe strategies.</li>
    </ul>
  </li>
  <li><b>Communication & Awareness</b>
    <ul>
      <li>Share educational resources and best practices.</li>
      <li>Raise awareness via social media and talks.</li>
      <li>Support panels and discussions on diversity topics.</li>
    </ul>
  </li>
  <li><b>Monitoring & Reporting</b>
    <ul>
      <li>Define measurable diversity goals.</li>
      <li>Publish updates and annual reports.</li>
      <li>Gather and act on community feedback.</li>
    </ul>
  </li>
</ol>
<h2>Committee Member Rotation and Selection</h2>
<ul>
  <li>The committee may comprise up to 8 members.</li>
  <li>Each committee member will serve a 2 year mandate.</li>
  <li>At the end of their mandate, a committee member may choose to serve an
    additional 2 year mandate.</li>
  <li>A call for committee members will run through September and/or October
    each year, in order to fill any open places on the committee.</li>
  <li>
    New members will be selected by the committee and approved by the PGEU board,
    generally by mid-November at the latest.</li>
  <li>Where possible, an in-person joint meeting of the old and new committee
    members will take place during PostgreSQL Conference Europe.</li>
</ul>
<h2>Roles and Responsibilities</h2>
<p>Each committee member may take on one or more of these responsibilities:</p>
<ul>
  <li><b>Chair:</b>
    <ul>
      <li>Leads meetings.</li>
      <li>Liaises with the Board.</li>
      <li>Ensures agenda item completion.</li>
    </ul>
  </li>
  <li><b>Social Media/Marketing Manager:</b>
    <ul>
      <li>Creates engaging content.</li>
      <li>Manages social channels.</li>
    </ul>
  </li>
  <li><b>Secretary:</b>
    <ul>
      <li>Prepares agendas.</li>
      <li>Records meeting notes.</li>
    </ul>
  </li>
  <li><b>Scholarship Manager:</b> 
    <ul>
      <li>Coordinates application reviews.</li>
      <li>Communication with applicants.</li>
    </ul>
  </li>
  <li><b>Event Coordinator:</b> 
    <ul>
      <li>Oversees Diversity Committee activities at events.</li>
    </ul>
  </li>
  <li><b>Infrastructure Manager:</b>
    <ul>
      <li>Manages shared documents, tools, and calendars.</li>
    </ul>  
  </li>
  <li><b>Budget Manager:</b>
    <ul>
      <li>Prepares budget.</li>
      <li>Tracks spending.</li>
      <li>Creates annual financial report for board.</li>
    </ul>  
  </li></ul>
<h2>How to Apply</h2>
<p>
  An annual call for committee members will be announced by the Diversity Committee via
  the PostgreSQL Europe mailing lists and on our social media accounts.
  This will usually run through September and/or October.
</p>
<p>
  To apply to become a member of the Diversity Committee, please contact us at 
  <b>diversity(at)postgresql.eu</b>, no later than the announced deadline, with a 
  brief description (a couple of paragraphs maximum) of why you are interested 
  in joining the committee, and which role(s) from the above list you would be 
  interested in taking on.
</p>
<p>
  Members will be selected and approved by the PostgreSQL Europe board,
  usually by mid-November.
</p>
<h2>Volunteers</h2>
<p>
  In addition to the Diversity Committee, Diversity Volunteers assist
  occasionally with specific tasks.
</p>
<p>
  If you’d like to help, even on a one-off basis, you’re welcome to join as a
  volunteer. Please email us at <b>diversity(at)postgresql.eu</b>
</p>
<h2>Past Members</h2>
<p>We thank the following past members of the Diversity Committee for their work:</p>
<ul>
  <li>Flavio Gurgel</li>
  <li>Gülçin Yıldırım Jelínek</li>
  <li>Valeria Kaplan</li>
</ul>  
{%endblock%}
